@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

* {
	text-align: center;
	background: #001f3f;
	font-family: 'Inter', sans-serif;
	color: #fff;
}

.header {
	margin-top: 150px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
	width: 35px;
	border: 1px solid #fff;
	border-radius: 5px;
}

input:focus {
	box-shadow: 0 0 5px #fff;
}
